- @users.each do |user|
  - @posts = Post.where(user_id: user.id).limit(30).order("created_at DESC")
  - @posts.each do |post|
    .contents.row
      .name1= link_to image_tag(post.image.to_s), post_path(post.id)
      .name2
        #{link_to user.name, user_path(user), method: :get}
      = simple_format render_with_hashtags(post.text.slice(0...8) + "..."), class: "name3"
      /simple_format render_with_hashtags(@post.text)
      /.name4= link_to '・・・', post_path(post), method: :get, class: "name4-1"
      .name5
        /投稿日時:#{post.created_at.strftime("%Y-%m-%d %H:%M:%S")}
        %time(datetime="#{post.created_at}")= time_ago_in_words(post.created_at) + "前"
 