// _main.html.haml
%h1 Tweets#index
- @posts.each do |post|
  %hr/
  %p
    %span email:
    = link_to post.user.email, user_path(post.user.id)
  %p
    %span ツイート内容:
    = link_to post.text, post_path(post.id)
  / 追加
  - if user_signed_in?
    - if post.favorited_by?(current_user) 
      / ログインしているユーザーがファボしたかどうかで分岐
      %p
        %span お気に入り解除:
        = link_to post.favorites.count, post_favorites_path(post.id), method: :delete
    - else
      %p
        %span お気に入り登録:
        = link_to post.favorites.count, post_favorites_path(post.id), method: :post
    
    - if current_user != post.user
      - if post.user.followed_by?(current_user)
        %p= link_to "フォロー済み", user_relationships_path(post.user.id), method: :delete
      - else
        %p= link_to "フォローする", user_relationships_path(post.user.id), method: :post
  
  - else
    %p
      %span お気に入り数:
      = post.favorites.count

  

  %h1 いいねサンプル
  - if user_signed_in?
    = link_to "ログアウト", destroy_user_session_path, method: :delete
    = link_to "マイページへ", user_path(current_user.id)
    = link_to "ユーザー一覧へ", users_path
    %h2 投稿する
    = form_for @post do |f|
      = f.text_field :text
      = f.submit
    %hr
    %h2 投稿一覧
    - @posts.each do |post|
      //<a href="/users/<%= post.user.id %>"><%= post.user.email %></a>
      //<a href="/posts/<%= post.id %>"><%= post.content %></a>
      //(<%= post.liked_users.count %>)

  - else
    = link_to "ユーザー登録", new_user_registration_path
    = link_to "ログイン", new_user_session_path












%h1 Tweets#index
%p Find me in app/views/tweets/index.html.erb
- @tweets.each do |tweet|
  %hr/
  %p
    %span email:
    = link_to tweet.user.email, user_path(tweet.user.id)
  %p
    %span ツイート内容:
    = link_to tweet.body, tweet_path(tweet.id)
  - if user_signed_in?
    - if tweet.favorited_by?(current_user)
      / ログインしているユーザーがファボしたかどうかで分岐
      %p
        %span お気に入り解除:
        = link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :delete
    - else
      %p
        %span お気に入り登録:
        = link_to tweet.favorites.count, tweet_favorites_path(tweet.id), method: :post
    / ここを追加
    - if current_user != tweet.user
      - if tweet.user.followed_by?(current_user)
        %p= link_to "フォロー済み", user_relationships_path(tweet.user.id), method: :delete
      - else
        %p= link_to "フォローする", user_relationships_path(tweet.user.id), method: :post
    / ここまで
  - else
    %p
      %span お気に入り数:
      = tweet.favorites.count




// お気に入り一覧
%h3
  - @posts.each do |post|
    - if user_signed_in?
      - if post.favorited_by?(current_user) 
        / ログインしているユーザーがファボしたかどうかで分岐
        %p
          %span お気に入り解除:
          = link_to post.favorites.count, post_favorites_path(post.id), method: :delete
      - else
        %p
          %span お気に入り登録:
          = link_to post.favorites.count, post_favorites_path(post.id), method: :post


//いいね機能
%h1 投稿詳細ページ
%h3= @post.user.email
%h3= @post.text
%h3 いいね件数:
= @post.favorites.count
- if current_user.already_favorited?(@post)
  = button_to 'いいねを取り消す', post_favorites_path(@post), method: :delete
- else
  = button_to 'いいね', post_favorites_path(@post)
%h2 いいねしたユーザー
- @post.favorites_user_ids.each do |user|
  %ul 
  = @post.user.name

= link_to "ホームへ戻る", posts_path